*results
*/femnist
FEMNIST_tests/femnist.tar.gz
FEMNIST_tests/femnist.tar.gzhqw_t35qtmp
*config_files*
*wandb
*__pycache__
*.out
*.csv
*.DS_Store
Strategies/csv_stk/data_org_pipeline.ipynb
*old_slurms
*slrum*
*server*
!slrum_fed_sats.sh
!slrum_interact.sh
!server.py

*.pkl
*model_files_*


